.introduce {
  --fc: #555;
  --fc-dark: #333;
  color: var(--fc);
}

.introduce a {
  border-bottom: 1px solid rgba(125, 125, 125, 0.3);
  transition: border 0.3s ease-in-out;
  text-decoration: none;
}

.introduce a:hover {
  border-color: var(--fc-dark);
}
